<div class="row">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item" 
            *ngFor="let product of productArray" 
            [ngClass]="{'active' : product.pId===ActiveId}" 
            [routerLink]="['/products', product.pId]"
            (click)="ActiveId= product.pId"
            [queryParams]="{canEdit:product.pCanEdit}"
            > 
                {{product.pName}}
            </li>
        </ul>
    </div>
    <div class="col-md-5">
        <!-- <app-edit-product></app-edit-product> -->
        <!-- <hr> -->
        <router-outlet></router-outlet>
        <!-- <app-product></app-product> -->
    </div>
</div>
